@model CoCoOnline.Models.Users
@{
    ViewData["Title"] = "注册";
    Layout = null;
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户注册</title>
    <script src="~/lib/easyui/jquery.min.js"></script>
    <script src="~/lib/easyui/jquery.easyui.min.js"></script>
    <script src="~/lib/easyui/easyui-lang-zh_cn.js"></script>
    <link href="~/lib/easyui/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/css/register.css" rel="stylesheet" />
</head>
<body>
    <div class="divmain">
        <form method="post" novalidate id="myForm">
            <div class="title">用户注册</div>
            <div class="form-group">
                <label class="control-label">用户名：</label>
                <input name="LoginName" class="easyui-textbox" required="true" />
            </div>
            <div class="form-group">
                <label class="control-label">姓名：</label>
                <input name="UserName" class="easyui-textbox" required="true" />
            </div>
            <div class="form-group">
                <label class="control-label">密码：</label>
                <input type="password" name="UserPwd" class="easyui-textbox" required="true" />
            </div>
            <div class="form-group">
                <label class="control-label">地址：</label>
                <input name="Address" class="easyui-textbox" required="true" />
            </div>
            <div class="form-group">
                <label class="control-label">电话：</label>
                <input name="Phone" class="easyui-textbox" required="true" />
            </div>
            <div class="form-group">
                <label class="control-label">Email：</label>
                <input name="Email" class="easyui-textbox" required="true" />
            </div>
            <div class="form-group">
                <label class="control-label">角色：</label>
                <select name="RoleId" class="easyui-combobox"
                        style="width:166px;" asp-items="ViewBag.RoleId"></select>
            </div>
            <div class="form-group">
                <label class="control-label">状态：</label>
                <select name="UserStateId" class="easyui-combobox"
                        style="width:166px;" asp-items="ViewBag.UserStateId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="注册" class="easyui-linkbutton" 
                style="width:100px;height:30px" />
            </div>
        </form>
    </div>
    <script type="text/javascript">
            $('#myForm').form({
            url:'/Users/Register',
            onSubmit:function(){
                return $(this).form('validate');
            },
            success:function(data){
                if(JSON.parse(data).IntResult==0){
                    $.messager.alert('错误', "注册失败！", 'error');
                }else if(JSON.parse(data).IntResult==1){
                    $.messager.alert('info', "注册成功！", 'info');
                    window.location.href = "/Users/Login";
                }
            }
        });
    </script>
</body>
</html>